* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #181818;
  font-family: "Vazir", sans-serif;
  color: #eaecef;
}
@font-face {
  font-family: "BasisGrotesquePro-Light";
  src: local("BasisGrotesquePro-Light"),
    url("assets/fonts/basisGrotesquePro/BasisGrotesquePro-Light.ttf")
      format("truetype");
}

/* roboto font weight 400 */

@font-face {
  font-family: "BasisGrotesquePro-Regular";
  src: local("BasisGrotesquePro-Regular"),
    url("assets/fonts/basisGrotesquePro/BasisGrotesquePro-Regular.ttf")
      format("truetype");
}

/* roboto font weight 500 */

@font-face {
  font-family: "BasisGrotesquePro-Medium";
  src: local("BasisGrotesquePro-Medium"),
    url("assets/fonts/basisGrotesquePro/BasisGrotesquePro-Medium.ttf")
      format("truetype");
}

/* roboto font weight 700 or 600 */

@font-face {
  font-family: "BasisGrotesquePro-Bold";
  src: local("BasisGrotesquePro-Bold"),
    url("assets/fonts/basisGrotesquePro/BasisGrotesquePro-Bold.ttf")
      format("truetype");
}
